.Project {
  display: flex;
  width: 100%;
  flex-flow: row;
  margin-bottom: 20px;
}

.Project .ImageDiv {
  margin-right: 20px;
  flex-shrink: 0;
}

.Project .ImageDiv img {
  border: 5px solid white;
  box-shadow: 0px 0px 5px rgba(30, 30, 30, 0.3);
  display: block;
  width: 100%;
}

@media (max-width: 500px) {
  .Project {
    flex-flow: column;
    margin-bottom: 30px;
  }

  .Project .ImageDiv img {
    width: 70% !important;
    min-width: 200px !important;
    margin: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 650px) {
  .Project .ImageDiv img {
    width: 200px;
  }
  .Project h3 {
    font-size: 1.5rem;
  }

  .Project p {
    font-size: 1em;
  }

  .Project a {
    font-size: 0.8em !important;
  }
}

@media (max-width: 1200px) {
  .Project .ImageDiv img {
    width: 250px;
  }
}
