@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

/* Global Styles */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Saira Extra Condensed', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #343a40;
}

h2 {
  font-size: 3.5rem;
}

p.lead {
  font-family: 'Muli', sans-serif;
  color: #868e96;
  font-weight: 400 !important;
}

label {
  font-family: 'Muli', sans-serif;
  font-weight: 500 !important;
  color: #343a40;
}

.SubHeading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 1.7rem;
  color: #868e96;
}

/* Bootstrap Overrides */

.bg-primary {
  background-color: #6f42c1 !important;
}

.btn-primary {
  background-color: #6f42c1 !important;
  border-color: #6f42c1 !important;
  color: #fff !important;
}

.btn-primary:hover {
  background-color: #6610f2 !important;
  color: #fff !important;
}

.text-primary {
  color: #6f42c1 !important;
}

a {
  color: #6f42c1 !important;
}

a:hover {
  color: #4b288d !important;
}

a:hover {
  text-decoration: none;
}

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover {
  color: #fff !important;
}

/* Global Styles */

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: 17rem;
  }
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@media (max-width: 650px) {
  h1 {
    font-size: 4em !important;
  }
  h2 {
    font-size: 2.5em !important;
  }
  p.lead {
    font-size: 1em !important;
  }
  .btn {
    font-size: 0.85rem !important;
    padding: 0.25rem 0.75rem !important;
  }
}
